beautifulsoup4==4.11.2
certifi==2023.7.22
colorama==0.4.6
coverage==7.2.3
cryptography==40.0.1
dnspython==2.2.1
flask==2.2.3
flask-cors==3.0.10
geocoder==1.38.1
gunicorn==20.1.0
h5py==3.8.0
huggingface-hub==0.16.4
ipykernel==6.22.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
kaggle==1.5.13
MarkupSafe==2.1.2
matplotlib==3.7.1
nltk==3.8.1
numpy==1.23.5
openpyxl==3.1.2
pandas==2.0.0
Pillow==9.4.0
plotly==5.14.1
psutil>=5.9.0
pyOpenSSL==23.2.0
pytest==7.3.1
pytest-cov==4.1.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-whois==0.8.0
PyYAML==6.0
reportlab>=3.6.12
requests==2.28.2
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
setuptools==67.6.1
six==1.16.0
tensorflow==2.12.0
tensorflow-hub==0.12.0
tldextract==3.4.1
tqdm==4.65.0
urllib3==1.26.15
Werkzeug==2.2.3 